body {
    background-color: grey
}

h1 {
    text-align: center;
    padding-top: 20px; 
    padding-bottom: 30px; 
}

.text-center {
    padding-bottom: 60px; 
}

.banner img { 
    width: 100%;
}

.row {
    background-color: grey;
    color: black;   
}

.page-footer {
    background-color: #282a2d;
    color: grey;
}

a:link, a:visited {
    color: #EDE0D4;
}

.navbar-nav.navbar-center {
    justify-content: center;
    position: absolute;
    left: 42%;
    transform: translatex (-50%);
}

@media only screen and (max-width: 600px) {
    .navbar-nav.navbar-center {
        position: static;    
    }

    .banner img {
        height: 200px; 
    }
}
