body {
    background-color: #7F5539; 
    color: #EDE0D4; 
}

img {
    max-width: 100%;
    height: auto; 
}

a:link, a:visited {
    color: #EDE0D4;
}

footer {
    background-color: #997b66;
    text-align: center;
}

/*Ylänavigointi*/

.top_nav {
     background-color: #9C6644;
     overflow: hidden;
     font-weight: bold;
     display: flex;
     justify-content: center;
}

.top_nav a {
    float: left; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
    font-size: 17px;
}

.top_nav a:hover {
    background-color: #B08968;
}

.top_nav a.active {
    background-color: #ddd;
    color: #7F5539
}

/*Sivunavigointi kolmos sivulla*/

.left_nav {
    float: left;
    overflow: hidden;
    height: 100%;
    width: 15%; 
    position: absolute;
    background-color: #B08968;
    font-weight: bold;
    display: flex;  
}

.left_nav ul{
    list-style-type: none;
    margin: 0;
    padding:14px ;
}

.left_nav li a {
    display: block; 
    font-size: 17px;
    padding: 8px 20px;
    text-decoration: none;
}

.left_nav li a:hover {
    background-color: #ddd;
    color: #7F5539;

}

/*Sisältö*/

.section {
    margin-top: 2%;
}

.section h1 {
    font-size: 30px;
    text-align: center;
}

.section p {
    text-align: center;
}

.etusivu_kuvat {
    display: flex; 
}

.kuva {
    float: left;
    max-width: 100%;
}

/*Sisältö kolmas sivu*/

.section_kolmas_sivu {
    background-color: #997b66;
    margin-left: 15%;
    overflow: hidden; 
    height: 100vh; 
    display: flex; 
}

.section_kolmas_sivu h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 1%;
}
